*{
  padding: 0px;
  margin: 0px auto;
}

.main{
    width:100%;
    height:auto;
    position:relative;
    margin:auto;
}

.div_suporte_conteudo{
      width: 100%;
      height: 210px;
}

.suporte_content{
      width: 100%;
      min-height:1200px;
      height:auto;
      position: relative;
      background-color: white;
}

.content{
    width:1200px;
    min-height:900px;
    height:auto;
    margin:auto;
    position: relative;
    padding-top: 20px;
}

.faixa_titulo_da_pagina{
      width: 100%;
      height: 70px;
      font-family: sans-serif;
      text-align: center;
      line-height: 70px;
      font-weight: bold;
      font-size: 24px;
}

.faixa_busca{
      width: 100%;
      height: 30px;
      font-family: sans-serif;
      line-height: 30px;

}

.centraliza_input{
      width: 543px;
      height: 30px;
      float: left;
      margin-left: 572px;
}

.centraliza_input input{
      width: 100%;
      height: 30px;
      border-radius: 7px;

}

.ajusta_lupa{
      height: 30px;
      float: right;
      width: 30px;
      background-color: black;
      margin-right: 44px;

}

.ajusta_lupa img{
      padding: 8px;

}

.suporte_unidade{
      width: 100%;
      height: 396px;
      margin-top: 40px;
      padding-left: 38px;
      padding-right: 38px;
}

.faixa_nome_da_unidade{
      width: 100%;
      height: 40px;
      font-family: sans-serif;
      text-align: center;
      line-height: 40px;
      font-weight: bold;
      font-size: 22px;
      float: left;
      margin: auto;
}

.faixa_imagem_e_mapa{
      width: 100%;
      height: 396px;
}

.imagem{
      width: 700px;
      height: 357px;
      float: left;
}

.imagem img{
      width: 100%;
      height: 357px;
}

.mapa_da_unidade{
      width: 476px;
      height: 357px;
      float: left;
      margin-left: 24px;
}

.mapa_da_unidade img{
      width: 100%;
      height: 357px;
}

.footer{
      width: 100%;
      height: 299px;
      position: relative;
      background-color: white;
      padding-top: 35px;
}
