*{
  padding: 0px;
  margin: 0px;
}

.main{
    width:100%;
    height:auto;
    margin:auto;
}

.div_suporte_conteudo{
      width: 100%;
      height: 210px;
}

.suporte_content{
      width: 100%;
      min-height:1300px;
      height:auto;
      background-color: white;
}

.content{
    width:1200px;
    min-height:1300px;
    margin:auto;
    padding-top: 20px;
}

.faixa_titulo_da_pagina{
      width: 100%;
      height: 70px;
      font-family: sans-serif;
      text-align: center;
      line-height: 70px;
      font-weight: bold;
      font-size: 24px;
}

.faixa1{
      width: 100%;
      height: 580px;
      margin-top: 0px;
}

.imagem_faleconosco{
      width: 100%;
      height: 580px;

}

.imagem_faleconosco img{
      width: 95%;
      height: 580px;
      margin-left: 2.5%;
}

.formFaleconosco{
      width: 100%;
      height: 650px;
      float: left;
}

.form_faleconosco{
      width: 90%;
      height: 520px;
      margin: auto;
      margin-top: 50px;
      border-radius: 7px;
      border: solid 1px;
      padding: 20px;
      font-family: sans-serif;
      font-weight: bold;
}

.linha1{
      width: 100%;
      height: 30px;
}

.txt_nome{
      width: 25%;
      height: 30px;
      line-height: 30px;
      float: left;
}

.linha1 input{
      width: 50%;
      height: 25px;
      float: left;
}

.linha2{
      width: 100%;
      height: 30px;
      margin-top: 20px;
}

.txt_email{
      width: 25%;
      height: 30px;
      line-height: 30px;
      float: left;
}

.linha2 input{
      width: 50%;
      height: 25px;
      float: left;
}

.linha3{
      width: 100%;
      height: 30px;
      margin-top: 20px;
}

.txt_telefone{
      width: 25%;
      height: 30px;
      line-height: 30px;
      float: left;
}

.linha3 input{
      width: 50%;
      height: 25px;
      float: left;
}

.linha4{
      width: 100%;
      height: 30px;
      margin-top: 20px;
}

.txt_celular{
      width: 25%;
      height: 30px;
      line-height: 30px;
      float: left;
}

.linha4 input{
      width: 50%;
      height: 25px;
      float: left;
}

.linha5{
      width: 100%;
      height: 30px;
      margin-top: 20px;
}

.txt_assunto{
      width: 25%;
      height: 30px;
      line-height: 30px;
      float: left;
}

.sltassunto{
      height: 25px;
      float: left;
}

.linha6{
      width: 100%;
      height: 230px;
      margin-top: 20px;
}

.txt_mensagem{
      width: 25%;
      height: 300px;
      line-height: 30px;
      float: left;
}

.textarea{
      width: 50%;
      height: 200px;
}

.linha7{
      width: 100%;
      height: 30px;
      margin-top: 20px;
}

.linha7 input{
      /*border-radius: 4px;*/
      border-top-right-radius: 4px;
      width: 50px;
      height: 25px;
      float: right;
}

.content_chat{
      width: 300px;
      height: 400px;
      background-color: #E0E2DF;
      float: right;
      border-radius: 10px;
      position: fixed;
      z-index: 999;
      margin-left: 81vw;
      margin-top: 32vh;
      box-shadow: 1px 21px 15px black;
}

.faixa_titulo_chat{
      width: 100%;
      height: 30px;
      line-height: 30px;
      background-color: #7F0000;
      color: white;
      text-align: center;
      font-family: sans-serif;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
}

.content_txt_chat{
      width: 100%;
      height: 320px;
}

.texto1{
      width: 75%;
      min-height: 20px;
      height: auto;
      background-color: white;
      border-radius: 5px;
      padding-left: 5px;
      margin-top: 20px;
      margin-left: 10px;

}

.texto2{
      width: 75%;
      min-height: 20px;
      height: auto;
      background-color: white;
      border-radius: 5px;
      padding-left: 5px;
      margin-top: 20px;
      margin-left: 60px;

}

.faixa_enviar_chat{
      width: 100%;
      height: 40px;
      background-color: #7F0000;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      padding-top: 10px;
}

.faixa_enviar_chat input{
      width: 75%;
      height: 28px;
      float: left;
      margin-left: 10px;
      margin-top: : 10px;
      border-radius: 5px;
}

.botao_enviar_chat{
      width: 50px;
      height: 29px;
      float: left;
      margin-left: 5px;
      line-height: 28px;
      border-radius: 3px;
      background-color: #E0E2DF;
}
