body{
    padding:0;
    margin:0;
}

.main{
    width:100%;
    height:auto;
    position:relative;
    margin:auto;
}

.div_suporte_conteudo{
      width: 100%;
      height: 210px;
}

/*-----SLIDER-----*/
.slider{
    width:100%;
    height:600px;
}

.slider img{
      width: 100%;
      height: 600px;
      position: fixed;
}

/*----MENU ACESSO RÁPIDO----*/
#suporte_menu_de_acesso_rapido{
  width: 100%;
  height: 200px;
  background-color: #660000;
  position: relative;
}

#menu_de_acesso_rapido{
  width: 1200px;
  height: 200px;
  margin: auto;
}
.item_menu_de_acesso_rapido{
    width:12.5%;
    height:150px;
    background-color: white;
    background-image: url(../imagens/imagem_padrao.png);
    background-repeat: no-repeat;
    background-size: 95%;
    border-radius:50%;
    margin-left:75px;
    margin-top:20px;
    float:left;
}

/*----CONTENT----*/
.suporte_content{
      width: 100%;
      min-height:1200px;
      height:auto;
      position: relative;
      background-color: white;
}

.content{
    width:1200px;
    min-height:1200px;
    height:auto;
    margin:auto;
    position: relative;
    padding-top: 20px;
}

/*------faixa 1-------*/
.faixa_1_content_home{
    width:1200px;
    height:400px;
    margin-top: 0px;;
}

.content_login_usuario_home{/*---login e senha---*/
    width:25%;
    height:400px;
    background-color: #7F0000;
    border-radius: 2%;
    float:left;
}

.faixa_login_home{
    width:100%;
    height:45px;
    margin-top:10px;
    text-align: center;
    font-family: sans-serif;
    color: white;
}

.faixa_login_home a{
    margin-right:64%;
    font-size: 18px;
}

.faixa_login_home p{
    margin-left:44%;
    font-size: 12px;
}


.faixa_login_home [type=text],[type=password]{/*caixas de texto -login -senha*/
    width:67%;
    margin-left:0px;
}


.faixa_login_home [type=submit]{/*botão entrar*/
    width:170px;
    height:30px;
    margin-left:0px;
    border-radius:5px;
}

.faixa_login_home span{
    font-family:sans-serif;
}


.slider_faixa1{/*---slider---*/
    width:850px;
    height:400px;
    float:left;
    margin-left: 2%;
}

.faixa1_img_slide_home{
    width:400px;
    height:300px;
    background-image: url(../imagens/saude-bucal.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left:15px;
    margin-top:40px;
    float:left;
}

/*--------faixa 2------*/

/*faixa*/
.faixa_2_content_home{
    width:1200px;
    height:700px;
    text-align: center;
}
/*-----titulo----*/

.titulo_faixa_2_home{
    width:1200px;
    height:100px;
    line-height: 100px;

}
.titulo_faixa_2_home a{
    font-family:sans-serif;
    font-size: 22px;
    font-weight: bold;
}
/*-----imagens-----*/

.content_img_faixa_2_home{
    width:1200px;
    height:470px;

}

.img_faixa_2_home{
    width:350px;
    height:200px;
    background-color:yellow;
    margin-left:40px;
    margin-top:30px;
    float:left;
    background-image: url(../imagens/download.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}

/*-------botão------*/
.content_btn_faixa_2_home{
    width:1200px;
    height:20px;
}

.content_btn_faixa_2_home p{
      margin-right: 30px;
      text-align: right;
      font-weight: bold;
      font-size: 18px;
      font-family: sans-serif;
}

/*--------faixa 3--------*/

/*faixa*/
.faixa_3_content_home{
    width:1200px;
    height:300px;
    background-color:darkgray;
}

/*content unidades*/
.content_faixa_3_unidades_home{
    width:550px;
    height:300px;
    background-color:azure;
    margin-left:30px;
    float:left;
}

/*imagem unidades*/
.img_faixa_3_home{
    width:150px;
    height:150px;
    background-image: url(../imagens/4992868.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    float:left;
}

.descricao_faixa_3_home{
    width:400px;
    height:150px ;
    background-color:aqua;
    float:left;
}

.footer{
      width: 100%;
      height: 299px;
      position: relative;
      background-color: white;
      padding-top: 35px;
}
