/*
  Autor: Gleyver Coutinho Castro
  Data de alteração: 18/03/2018
  Obs: Página de estilizaçõa do fale conosco da empresa Hhealth
*/

/* Altera todas as tags */
*{
  padding: 0px;
  margin: 0px auto;
}


/* Segura todo conteúdo da página */
#content{
  width: 1200px;
  min-height: 1600px;
  height: auto;
  background-color: #008B8B;
}

/*-------------------------- Titulo da página ----------------------------*/
#content_titulo{
  width: 100%;
  height: 100px;
  background-color:	#B22222;
}

#titulo{
  width: 340px;
  height: 100px;
}

#alinha_titulo{
  width: 340px;
  height: 30px;
  padding-top: 40px;
  font-size: 32px;
  color: #FFF;
}

/*----------------------- Figura do fale conosco -------------------------*/
#cabecalho_fale_conosco{
  height: 450px;
  width: 100%;
  background-color: #D3D3D3;
  margin-top: 10px;
}

#img_fale_conosco{
  height: 450px;
  width: 100%;
}

/*---------------------------- Formulário ---------------------------------*/
#suporte_form{
  height: 1450px;
  width: 98%;
  border: 1px solid #000;
  border-radius: 10px;
  margin-top: 30px;
}

.suporte_linhas{
  height: 40px;
  width: 100%;
  margin-top: 10px;
}

.titulos_formulario{
  height: 37px;
  width: 250px;
  background-color: #8B0000;
  float: left;
  /* border-radius: 10px; */
}

.titulos_formulario:hover{
  background-color: #800000;
}

.alinhamento_nome_form{
  height: 30px;
  width: 35%;
  font-size: 18px;
  color: #FFF;
  font-weight: bold;
  padding-top: 7px;
  padding-left: 15%;
}

.alinhamento_data_form{
  height: 30px;
  width: 100%;
  font-size: 16px;
  color: #FFF;
  font-weight: bold;
  padding-top: 7px;
  padding-left: 2%;
}

.alinhamento_data_nascimento_form{
  height: 30px;
  width: 70%;
  font-size: 16px;
  color: #FFF;
  font-weight: bold;
  padding-top: 7px;
  padding-left: 30%;
}

/*------------------------- Caixa de textos Formulário e SELECT --------------------------*/
.suporte_caixa_texto{
  height: 37px;
  width: 876px;
  /* background-color: #ccc; */
  float: left;
  margin-left: 5px;
}

.caixa_texto{
  height: 35px;
  width: 100%;
  font-size: 18px;
}

.caixa_texto_numero_dd{
  height: 35px;
  width: 30px;
  font-size: 18px;
}

.caixa_texto_numero_telefone{
  height: 35px;
  width: 290px;
  font-size: 18px;
}

#slct_assunto{
  width: 331px;
  height: 35px;
}

.suporte_linhas_botao{
  height: 40px;
  width: 96%;
  margin-top: 10px;
  /* background-color: #ccc; */
  float: left;

}

#suporte_submit{
  height: 39px;
  width: 186px;
  float: right;
}

#btn_enviar{
  height: 39px;
  width: 186px;

}


#slct_assunto{
  width: 331px;
  height: 35px;
}

.suporte_caixa_texto_mensagem{
  width: 876px;
  height: 322px;
  /* background-color: #ccc; */
  float: left;
  margin-left: 5px;
}

#text_area{
  height: 322px;
  width: 876px;
  resize: none;
  font-size: 18px;
}
