/*
  Desenvolvedor: Gleyver Coutinho Castro
  Data de atualição: 27/03/2018
  Descrição: Página de estilização especialidade
*/
*{
  padding: 0px;
  margin: 0px;
}

.main{
    width:100%;
    min-height: 1900px;
    height:auto;
    position:relative;
    margin:auto;
}

.div_suporte_conteudo{
    width: 100%;
    height: 210px;
}

#content_main{
  width: 1200px;
  min-height: 1680px;
  height: auto;
  background-color:	#FFF;
  margin: auto;

}


/* Div que segura titulo da Página */
#suporte_titulo{
  height: 70px;
  width: 100%;

}

/* Titulo */
#titulo_pagina{
  height: 35px;
  width: 200px;
  margin: auto;
  padding-top: 35px;
  font-size: 32px;

}

.faixa_branca{
  height: 3px;
  width: 95%;
  background-color: #ccc;
  margin: auto;
}

/* Div das imagens */
#imagem_content{
  height: 475px;
  width: 100%;
  margin-top: 10px;

}

#imagem_hospital{
  width: 774px;
  height: 475px;
  background-color: #000;
  float: left;
  margin-left: 15px;
}

#imagem_hosp{
  width: 100%;
  height: 475px;
}

#horario_atendimento{
  width: 399px;
  height: 473px;
  float: left;
  /* margin-top: 100px; */
  margin-left: 5px;
  /* background-color:	#000; */
  /* background-color:	#FFFAFA; */
  /*border: 2px solid #FF0000;*/
}

/*Itens que fica dentro de horario atendimmento*/
#item_atendimento_titulo{
  width: 336px;
  height: 23px;
  margin-left: 5px;
  /* background-color: #ccc; */
  margin-top: 10px;
  padding-left: 23px;
  padding-top: 30px;
  font-size: 22px;
}

.item_atendimento{
  width: 389px;
  height: 25px;
  margin-left: 5px;
  margin-top: 10px;
  padding-top: 23px;
  font-size: 18px;
}

.dia_atendimento{
  width: 250px;
  height: 22px;
  float: left;
  margin-left: 20px;
}

.hora_atendimento{
  width: 50px;
  height: 22px;
  float: left;
  margin-left: 5px;
  padding-left: 30px;
}

.faixa_branca_maior{
  width: 389px;
  height: 3px;
  background-color:	#696969;
  margin-left: 3px;
}

.faixa_branca_menor{
  width: 377px;
  height: 2px;
  background-color:	#C2C2C2;
  margin-left: 10px;
}

#item_atendimento_pronto_socorro{
  width: 389px;
  height: 25px;
  margin-left: 5px;
  margin-top: 80px;
  padding-top: 23px;
}

/* Divque segura textos e especialidades */
#especialidades_texto{
  height: 525px;
  width: 100%;
  margin-top: 10px;

}

 /* Textos do site */
#texto_div{
  min-height: 525px;
  height: auto;
  width: 100%;
  background-color:	#FFFAFA;
  margin-left: 10px
}

/* div que segura texto do site*/
#suporte_texto{
  min-height: 525px;
  height: auto;
  width: 1190px;
  margin-left: 5px;
  margin-top: 15px;
}

/*-------------------- Parte que fala de outras unidades --------------------*/
#content_outras_unidades{
  width: 100%;
  min-height: 600px;
  height: auto;
  background-color:	#FFFAFA;
}

/* Segura o titulo */
#suporte_titulo_outras_unidades{
  height: 70px;
  width: 100%;
}

/* Segura o subtitulo */
#titulo_pagina_outras_unidades{
  height: 35px;
  width: 750px;
  margin: auto;
  padding-top: 35px;
  font-size: 32px;
}

/*-------------------- Segura tude de unidade --------------------*/
#suporte_outras_unidades{
  width: 100%;
  min-height: 500px;
  height: auto;
  /* background-color: #CCC; */
}

/*Segura imagem e titulos das outras  imagens*/
.suporte_imagem_texto_outras_unidades{
  width: 520px;
  height: 195px;
  margin-top: 15px;
  margin-left: 45px;
  float: left;
}

/* Imagem outras unidades */
.imagem_outras_unidades{
  width: 211px;
  height: 195px;
  border: 1px solid #000;
  float: left;
}

/*Imagem*/
.img_outras_unidades{
  width: 211px;
  height: 195px;
}

.titulo_outras_unidades{
  width: 302px;
  height: 195px;
  border: 1px solid #000;
  float: left;
}

.tituloUnidade{
  width: 302px;
  height: 87px;
  border: 1px solid #000;
}

.tituloUnidade{
  width: 242px;
  height: 57px;
  font-size: 24px;
  padding-top: 30px;
  padding-left: 60px;
  color: #FFF;
  background: #660000;
}


.descricao_unidade{
  width: 302px;
  height: 87px;
}
