@@media screen and (min-device-width:1200px) {
      *{
        padding: 0px;
        margin: 0px;
      }

      .main{
          width:100%;
          height:auto;
          margin:auto;
      }

      .div_suporte_conteudo{
            width: 100%;
            height: 210px;
      }

      .suporte_content{
            width: 100%;
            min-height:1200px;
            height:auto;
            background-color: white;
      }

      .content{
          width:1200px;
          height:1270px;
          margin:auto;
          padding-top: 20px;
      }

      .faixa_titulo_da_pagina{
            width: 100%;
            height: 30px;
            font-family: sans-serif;
            text-align: center;
            line-height: 70px;
            font-weight: bold;
            font-size: 24px;
      }

      .faixa1{
            width: 100%;
            height: 580px;
      }

      .formtrabalheconosco{
            width: 100%;
            height: 650px;
            float: left;
      }

      .form_trabalheconosco{
            width: 90%;
            height: 1070px;
            margin: auto;
            margin-top: 50px;
            border-radius: 7px;
            border: solid 1px;
            padding: 20px;
            font-family: sans-serif;
            font-weight: bold;
      }

      .linha1{
            width: 100%;
            height: 30px;
      }

      .txt_nome{
            width: 25%;
            height: 30px;
            line-height: 30px;
            float: left;
      }

      .linha1 input{
            width: 50%;
            height: 25px;
            float: left;
      }

      .linha2{
            width: 100%;
            height: 30px;
            margin-top: 20px;
      }

      .txt_email{
            width: 25%;
            height: 30px;
            line-height: 30px;
            float: left;
      }

      .linha2 input{
            width: 50%;
            height: 25px;
            float: left;
      }

      .linha3{
            width: 100%;
            height: 30px;
            margin-top: 20px;
      }

      .txt_telefone{
            width: 25%;
            height: 30px;
            line-height: 30px;
            float: left;
      }

      .linha3 input{
            width: 50%;
            height: 25px;
            float: left;
      }

      .linha4{
            width: 100%;
            height: 30px;
            margin-top: 20px;
      }

      .txt_celular{
            width: 25%;
            height: 30px;
            line-height: 30px;
            float: left;
      }

      .linha4 input{
            width: 50%;
            height: 25px;
            float: left;
      }

      .linha_data{
            width: 100%;
            height: 30px;
            margin-top: 20px;
      }

      .txtdtNasc{
            width: 25%;
            height: 30px;
            line-height: 30px;
            float: left;
      }

      .txtdataNasc{
            height: 25px;
            float: left;
      }

      .linha_sexo{
            width: 100%;
            height: 30px;
            margin-top: 20px;
            line-height: 30px;
      }

      .txtsexo{
            width: 25%;
            height: 30px;
            line-height: 30px;
            float: left;
      }

      .linha_sexo input{
            margin-left: 10px;
      }

      .linhapais{
            width: 100%;
            height: 30px;
            margin-top: 20px;
      }

      .txt_pais{
            width: 25%;
            height: 30px;
            line-height: 30px;
            float: left;
      }

      .sltpais{
            height: 25px;
            float: left;
      }

      .linhaestadoCivil{
            width: 100%;
            height: 30px;
            margin-top: 20px;
      }

      .txt_estadoCivil{
            width: 25%;
            height: 30px;
            line-height: 30px;
            float: left;
      }

      .sltestadoCivil{
            height: 25px;
            float: left;
      }

      .linhacep{
            width: 100%;
            height: 30px;
            margin-top: 20px;
      }

      .txt_cep{
            width: 25%;
            height: 30px;
            line-height: 30px;
            float: left;
      }

      .linhacep input{
            width: 25%;
            height: 25px;
            float: left;
      }

      .linhaendereco{
            width: 100%;
            height: 30px;
            margin-top: 20px;
      }

      .txt_endereco{
            width: 25%;
            height: 25px;
            float: left;
      }

      .linhaendereco input{
            width: 50%;
            height: 25px;
            float: left;
      }

      .linhabairro{
            width: 100%;
            height: 30px;
            margin-top: 20px;
      }

      .txt_bairro{
            width: 25%;
            height: 30px;
            line-height: 30px;
            float: left;
      }

      .linhabairro input{
            width: 50%;
            height: 25px;
            float: left;
      }

      .linhacidade{
            width: 100%;
            height: 30px;
            margin-top: 20px;
      }

      .txt_cidade{
            width: 25%;
            height: 30px;
            line-height: 30px;
            float: left;
      }

      .sltpsltcidadeais{
            height: 25px;
            float: left;
      }

      .linhaestado{
            width: 100%;
            height: 30px;
            margin-top: 20px;
      }

      .txt_estado{
            width: 25%;
            height: 30px;
            line-height: 30px;
            float: left;
      }

      .sltestado{
            height: 25px;
            float: left;
      }




      .linhastatusTrabalho{
            width: 100%;
            height: 30px;
            margin-top: 20px;
      }

      .txt_statusTrabalho{
            width: 25%;
            height: 30px;
            line-height: 30px;
            float: left;
      }

      .sltstatusTrabalho{
            height: 25px;
            float: left;
      }



      .linhastatusDeficiencia{
            width: 100%;
            height: 30px;
            margin-top: 20px;
      }

      .txt_statusDeficiencia{
            width: 25%;
            height: 30px;
            line-height: 30px;
            float: left;
      }

      .sltstatusDeficiencia{
            height: 25px;
            float: left;
      }



      .linhastatusRegistroProfissional{
            width: 100%;
            height: 30px;
            margin-top: 20px;
      }

      .txt_statusRegistroProfissional{
            width: 25%;
            height: 30px;
            line-height: 30px;
            float: left;
      }

      .sltstatusRegistroProfissional{
            height: 25px;
            float: left;
      }

      .linharesumoQualificacoes{
            width: 100%;
            height: 230px;
            margin-top: 20px;
      }

      .txt_resumoQualificacoes{
            width: 25%;
            height: 300px;
            line-height: 30px;
            float: left;
      }

      .textarea{
            width: 50%;
            height: 220px;
      }

      .linha7{
            width: 100%;
            height: 30px;
            margin-top: 20px;
      }

      .linha7 input{
            /*border-radius: 4px;*/
            border-top-right-radius: 4px;
            width: 50px;
            height: 25px;
            float: right;
      }

}








@@media screen and (max-device-width:520px) {
      *{
        padding: 0px;
        margin: 0px;
      }

      .main{
          width:100%;
          height:auto;
          margin:auto;
      }

      .div_suporte_conteudo{
            width: 100%;
            height: 210px;
      }

      .suporte_content{
            width: 100%;
            min-height:1200px;
            height:auto;
            background-color: white;
      }

      .content{
          width:1200px;
          height:1270px;
          margin:auto;
          padding-top: 20px;
      }

      .faixa_titulo_da_pagina{
            width: 100%;
            height: 30px;
            font-family: sans-serif;
            text-align: center;
            line-height: 70px;
            font-weight: bold;
            font-size: 24px;
      }

      .faixa1{
            width: 100%;
            height: 580px;
      }

      .formtrabalheconosco{
            width: 100%;
            height: 650px;
            float: left;
      }

      .form_trabalheconosco{
            width: 90%;
            height: 1070px;
            margin: auto;
            margin-top: 50px;
            border-radius: 7px;
            border: solid 1px;
            padding: 20px;
            font-family: sans-serif;
            font-weight: bold;
      }

      .linha1{
            width: 100%;
            height: 30px;
      }

      .txt_nome{
            width: 25%;
            height: 30px;
            line-height: 30px;
            float: left;
      }

      .linha1 input{
            width: 50%;
            height: 25px;
            float: left;
      }

      .linha2{
            width: 100%;
            height: 30px;
            margin-top: 20px;
      }

      .txt_email{
            width: 25%;
            height: 30px;
            line-height: 30px;
            float: left;
      }

      .linha2 input{
            width: 50%;
            height: 25px;
            float: left;
      }

      .linha3{
            width: 100%;
            height: 30px;
            margin-top: 20px;
      }

      .txt_telefone{
            width: 25%;
            height: 30px;
            line-height: 30px;
            float: left;
      }

      .linha3 input{
            width: 50%;
            height: 25px;
            float: left;
      }

      .linha4{
            width: 100%;
            height: 30px;
            margin-top: 20px;
      }

      .txt_celular{
            width: 25%;
            height: 30px;
            line-height: 30px;
            float: left;
      }

      .linha4 input{
            width: 50%;
            height: 25px;
            float: left;
      }

      .linha_data{
            width: 100%;
            height: 30px;
            margin-top: 20px;
      }

      .txtdtNasc{
            width: 25%;
            height: 30px;
            line-height: 30px;
            float: left;
      }

      .txtdataNasc{
            height: 25px;
            float: left;
      }

      .linha_sexo{
            width: 100%;
            height: 30px;
            margin-top: 20px;
            line-height: 30px;
      }

      .txtsexo{
            width: 25%;
            height: 30px;
            line-height: 30px;
            float: left;
      }

      .linha_sexo input{
            margin-left: 10px;
      }

      .linhapais{
            width: 100%;
            height: 30px;
            margin-top: 20px;
      }

      .txt_pais{
            width: 25%;
            height: 30px;
            line-height: 30px;
            float: left;
      }

      .sltpais{
            height: 25px;
            float: left;
      }

      .linhaestadoCivil{
            width: 100%;
            height: 30px;
            margin-top: 20px;
      }

      .txt_estadoCivil{
            width: 25%;
            height: 30px;
            line-height: 30px;
            float: left;
      }

      .sltestadoCivil{
            height: 25px;
            float: left;
      }

      .linhacep{
            width: 100%;
            height: 30px;
            margin-top: 20px;
      }

      .txt_cep{
            width: 25%;
            height: 30px;
            line-height: 30px;
            float: left;
      }

      .linhacep input{
            width: 25%;
            height: 25px;
            float: left;
      }

      .linhaendereco{
            width: 100%;
            height: 30px;
            margin-top: 20px;
      }

      .txt_endereco{
            width: 25%;
            height: 25px;
            float: left;
      }

      .linhaendereco input{
            width: 50%;
            height: 25px;
            float: left;
      }

      .linhabairro{
            width: 100%;
            height: 30px;
            margin-top: 20px;
      }

      .txt_bairro{
            width: 25%;
            height: 30px;
            line-height: 30px;
            float: left;
      }

      .linhabairro input{
            width: 50%;
            height: 25px;
            float: left;
      }

      .linhacidade{
            width: 100%;
            height: 30px;
            margin-top: 20px;
      }

      .txt_cidade{
            width: 25%;
            height: 30px;
            line-height: 30px;
            float: left;
      }

      .sltpsltcidadeais{
            height: 25px;
            float: left;
      }

      .linhaestado{
            width: 100%;
            height: 30px;
            margin-top: 20px;
      }

      .txt_estado{
            width: 25%;
            height: 30px;
            line-height: 30px;
            float: left;
      }

      .sltestado{
            height: 25px;
            float: left;
      }




      .linhastatusTrabalho{
            width: 100%;
            height: 30px;
            margin-top: 20px;
      }

      .txt_statusTrabalho{
            width: 25%;
            height: 30px;
            line-height: 30px;
            float: left;
      }

      .sltstatusTrabalho{
            height: 25px;
            float: left;
      }



      .linhastatusDeficiencia{
            width: 100%;
            height: 30px;
            margin-top: 20px;
      }

      .txt_statusDeficiencia{
            width: 25%;
            height: 30px;
            line-height: 30px;
            float: left;
      }

      .sltstatusDeficiencia{
            height: 25px;
            float: left;
      }



      .linhastatusRegistroProfissional{
            width: 100%;
            height: 30px;
            margin-top: 20px;
      }

      .txt_statusRegistroProfissional{
            width: 25%;
            height: 30px;
            line-height: 30px;
            float: left;
      }

      .sltstatusRegistroProfissional{
            height: 25px;
            float: left;
      }

      .linharesumoQualificacoes{
            width: 100%;
            height: 230px;
            margin-top: 20px;
      }

      .txt_resumoQualificacoes{
            width: 25%;
            height: 300px;
            line-height: 30px;
            float: left;
      }

      .textarea{
            width: 50%;
            height: 220px;
      }

      .linha7{
            width: 100%;
            height: 30px;
            margin-top: 20px;
      }

      .linha7 input{
            /*border-radius: 4px;*/
            border-top-right-radius: 4px;
            width: 50px;
            height: 25px;
            float: right;
      }

}
