*{
    padding:0;
    margin:0;
    text-align: justify;
}

.main{
    width:100%;
    height:auto;
    position:relative;
    margin:auto;
}

.div_suporte_conteudo{
      width: 100%;
      height: 200px;
}

.content{
    width:1200px;
    min-height:1200px;
    height:auto;
    margin:auto;

}


/*faixa*/
.faixa_titulo{
      width: 100%;
      height: 100px;
      font-family: sans-serif;
      text-align: center;
      line-height: 100px;
      font-weight: bold;
      font-size: 24px;
}

.titulo_busque_seu_exame{
      width: 100%;
      height: 30px;
      font-family: sans-serif;
      padding-left: 35px;
      line-height: 30px;
}

.titulo_busque_seu_exame p{
      font-weight: bold;
      font-size: 15px;

}

.busca{
      width: 100%;
      height: 40px;
      font-family: sans-serif;
      padding-left: 35px;
      line-height: 30px;

}

.centraliza_input{
      width: 93%;
      height: 40px;
      float: left;
}

.centraliza_input input{
      width: 100%;
      height: 40px;

}

.ajusta_lupa{
      height: 40px;
      float: right;
      width: 40px;
      background-color: black;
      margin-right: 44px;

}

.ajusta_lupa img{
      padding: 8px;

}

/*conteudo exames*/
.conteudo_exames{/*conteudo exames*/
    width:1000px;
    min-height:600px;
    height:auto;
    margin:auto;
    margin-top:60px;
}

.titulo_exame{/*titulo*/
    width:1100px;
    height:30px;
    margin:auto;
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 21px;
    font-family: sans-serif;
    border:solid 1px #000000;
}

.content_faixa_exames{/*faixa nome exame-ações */
    width:1100px;
    height:60px;
    margin-top:5px;
}

.content_nome_exames{/*nome exames*/
    width:1020px;
    height:35px;
    padding-top:15px;
    color: black;
    font-size: 18px;
    font-family: sans-serif;
    float:left;
    border:solid 1px #000000;

}

.acoes_exames{
    width:50px;
    height:50px;
    margin-left:20px;
    float:left;

}
.acoes_exames img{
    width:40px;
    height:40px;
}

.content_descricao_procedimento{/*content descricao-procedimento*/
    width:1100px;
    min-height:600px;
    height:auto;
    margin:auto;
}

/*descricao*/
.content_descricao{
    width:1100px;
    min-height:300px;
    height:auto;
}

.titulo_descricao{
    width:500px;
    height:40px;
    margin:auto;
    padding-top:10px;
    color: black;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    font-family: sans-serif;
}

.suporte_conteudo_descricao{
      width: 90%;
      height: 200px;
      margin: auto;
}

.suporte_img_descricao{
      width: 25%;
      height: 200px;
      float: left;
}

.conteudo_descricao{
    width:68%;
    min-height:100px;
    height:auto;
    margin:auto;
    float: right;
    margin-top:10px;
    color: black;
    font-size: 18px;
    font-family: sans-serif;
/*    background-color:#eaecef;*/
/*    border-radius: 10px;*/
}

/*procedimento*/

.content_procedimento{
    width:1100px;
    min-height:300px;
    height:auto;
}

.titulo_procedimento{
    width:500px;
    height:40px;
    margin:auto;
    padding-top:10px;
    color: black;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    font-family: sans-serif;
}

.conteudo_procedimento{
    width:1000px;
    min-height:100px;
    height:auto;
    margin:auto;
    margin-top:10px;
    color: black;
    font-size: 18px;
    font-family: sans-serif;
    /*background-color:#eaecef;
    border-radius: 10px;*/
}
