/*

  Data: 25/03/2018
  Desenvolvedor: Gleyver Coutinho Castro
  Obs: Página de estilização sobre_hhealth

*/

/* Estilizações padrões */
*{
  margin: 0px;
  padding: 0px;
}


/* div que segura todo conteúdo da página */
#main{
  width: 100%;
  height: 1800px;
}

/* div que segura o conteúdo da página */
#content_sobre_hhealth{
  width: 1200px;
  min-height: 900px;
  height: auto;
  margin:auto;
  background-color: #FF0000;
}

/* Div que segura titulo da Página */
#suporte_titulo{
  height: 70px;
  width: 100%;
}

/* Titulo */
#titulo_pagina{
  height: 50px;
  width: 200px;
  margin: auto;
  padding-top: 20px;
  font-size: 32px;
}

.faixa_branca{
  height: 1px;
  width: 100%;
  background-color: #ccc;
  margin: auto;
}

/*--------------- Tudo que é relaciado a barra de pesquisa ---------------*/
#suporte_barra_pesquisa{
  height: 40px;
  width: 490px;
  /* float: right; */
  margin-left: 700px;
  background-color: #ccc;
  margin-top: 15px;
}

/* campo do formulário */
#input_pesquisa{
  height: 26px;
  width: 460px;
  border:#ddd solid 1px;
  float:left;
  padding:5px 20px 5px 5px;
  border-radius: 30px;
  font-size: 16px;
}

/* formatação do elemento */
#lupa{
  height: 30px;
  float:left;
  margin:5px 0px 0px -30px;
  cursor:pointer
}

/* formatação do conteúdo  */
#lupa::after{
  font-family:FontAwesome;
  font-size:24px;
  content:"\f002"
}

/*--------------- Tudo que é relacionado a unidade ---------------*/
.suporte_unidade{
  height: 460px;
  width: 98%;
  /* background-color: #CCC; */
  margin: 15px auto;
}

/* Segura o subtitulo da pagina de unidades*/
.suporte_titulo_item_unidade{
  height: 73px;
  width: 100%;
  background-color: #c2c2c2;
  border: solid 1px #000;
  margin: auto;

}

/* subtitulo */
.titulo_item{
  height: 53px;
  width: 170px;
  background-color: #F0F00F;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  margin: auto;
}

/* Imagem da unidade */
.imagem_unidade{
  height: 322px;
  width: 680px;
  background-color: #000;
  margin-top: 20px;
  float: left;
}

.mapa_unidade{
  height: 322px;
  width: 446px;
  background-color: #000;
  margin-top: 20px;
  margin-left: 50px;
  float: left;
}
