/*

  Data: 26/03/2018
  Desenvolvedor: Gleyver Coutinho Castro
  Obs: Página de estilização unidade_hhealth

*/
*{
  margin: 0px;
  padding: 0px;
}

a{
 text-decoration: none;
}

body{
  background-color:	#F8F8FF;
}

#main{
  width: 100%;
  height: 2170px;
}


#content_main{
  width: 1200px;
  min-height: 2170px;
  height: auto;
  background-color:	#FFF;
  margin: auto;

}

.div_suporte_conteudo{
      width: 100%;
      height: 210px;
}


/* Div que segura titulo da Página */
#suporte_titulo{
  height: 70px;
  width: 100%;

}

/* Titulo */
#titulo_pagina{
  height: 35px;
  width: 200px;
  margin: auto;
  padding-top: 35px;
  font-size: 32px;

}

.faixa_branca{
  height: 3px;
  width: 95%;
  background-color: #ccc;
  margin: auto;
}

/* Div das imagens */
#imagem_content{
  height: 475px;
  width: 100%;
  margin-top: 10px;

}

#imagem_hospital{
  width: 774px;
  height: 475px;
  background-color: #000;
  float: left;
  margin-left: 15px;
}

#imagem_hosp{
  width: 100%;
  height: 475px;
}

#horario_atendimento{
  width: 399px;
  height: 473px;
  float: left;
  margin-left: 5px;
  background-color:	#FFFAFA;
  /*border: 2px solid #FF0000;*/
}

/*Itens que fica dentro de horario atendimmento*/
#item_atendimento_titulo{
  width: 336px;
  height: 23px;
  margin-left: 5px;
  /* background-color: #ccc; */
  margin-top: 10px;
  padding-left: 23px;
  padding-top: 30px;
  font-size: 22px;
}

.item_atendimento{
  width: 389px;
  height: 25px;
  margin-left: 5px;
  margin-top: 10px;
  padding-top: 23px;
  font-size: 18px;
}

.dia_atendimento{
  width: 250px;
  height: 22px;
  float: left;
  margin-left: 20px;
}

.hora_atendimento{
  width: 50px;
  height: 22px;
  float: left;
  margin-left: 5px;
  padding-left: 30px;
}

.faixa_branca_maior{
  width: 389px;
  height: 3px;
  background-color:	#696969;
  margin-left: 3px;
}

.faixa_branca_menor{
  width: 377px;
  height: 2px;
  background-color:	#C2C2C2;
  margin-left: 10px;
}

#item_atendimento_pronto_socorro{
  width: 389px;
  height: 25px;
  margin-left: 5px;
  margin-top: 80px;
  padding-top: 23px;
}

/* Divque segura textos e especialidades */
#especialidades_texto{
  height: 925px;
  width: 100%;
  margin-top: 10px;

}

/* DIV que fica as especialidades */
#especialidades{
  height: 925px;
  width: 396px;
  /*border: solid 2px #FF0000;*/
  margin-left: 14px;
  background-color:	#FFFAFA;
  float: left;
}

/*Titulo das especialidades*/
#titulo_especialidades{
  height: 30px;
  width: 140px;
  margin: auto;
  padding-top: 10px;
  font-size: 24px;
}

.especialidade{
  width: 254px;
  height: 33px;
  background-color: #660000;
  margin: 5px auto;
  padding-left: 140px;
  padding-top: 20px;
  color: #FFF;
  font-size: 20px;
}

 /* Textos do site */
#texto_div{
  min-height: 925px;
  height: auto;
  width: 770px;
  /*background-color: #c2c2c2;*/
  margin-left: 10px;
  float: left;
}

/* div que segura texto do site*/
#suporte_texto{
  min-height: 925px;
  height: auto;
  width: 760px;
  margin-left: 5px;
}

/* Mapa do site */
#mapa_unidade{
  width: 100%;
  height: 510px;
  background-color:	#FF6347;
  margin-top: 10px;
}

/* Imagem mapa */
#imagem_unidade{
  width: 100%;
  height: 510px;
}

/* localização do site */
#localizacao_div{
  width: 100%;
  height: 140px;
  /*margin-left: 9px;*/
  /*border: 2px solid #ff0000;*/
  margin-top: 10px;
  background-color: #CCC;


}

#suporte_localização{
  height: 127px;
  width: 500px;
  margin: auto;

}

.texto_localização{
  width: 320px;
  height: 10px;
  font-size: 16px;
  margin:10px auto;
  padding-top: 20px;
}

#suporte_telefone_email{
  width: 380px;
  height: 30px;
  font-size: 16px;
  margin: auto;

}

.icon_contato{
  height: 30px;
  width: 30px;
  float: left;
  margin-left: 20px;

}

#telefone, #email{
  width: 120px;
  height: 25px;
  float: left;
  margin-left: 2px;
  padding-top: 5px;
}

.icons_contatos{
  width: 30px;
  height: 30px;
}

.faixa_branca_footer{
  width: 480px;
  height: 2px;
  background-color:	#696969;
  margin-right: 240px;
}
