/*

  Data: 26/03/2018
  Desenvolvedor: Gleyver Coutinho Castro
  Obs: Página de estilização unidade_hhealth

*/
*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color:	#F8F8FF;
}

a{
  text-decoration: none;
}

#main{
  width: 100%;
  height: 1800px;
}


#content_main{
  width: 1200px;
  min-height: 1800px;
  height: auto;
  background-color:	#FFF;
  margin: auto;

}


/* Div que segura titulo da Página */
#suporte_titulo{
  height: 70px;
  width: 100%;

}

.div_suporte_conteudo{
      width: 100%;
      height: 200px;
}

/* Titulo */
#titulo_pagina{
  height: 35px;
  width: 100px;
  margin: auto;
  padding-top: 35px;
  font-size: 32px;

}

.faixa_branca{
  height: 3px;
  width: 95%;
  background-color: #ccc;
  margin: auto;
}

/*------------ SLIDER ------------------*/
#segura_slider{
  width: 1178px;
  height: 661px;
  background-color: #ccc;
  margin-top: 20px;
  margin-left: 11px;
    position: relative;
}

/* Segura imagens e dicas */
.suporte_imagens_dicas{
  width: 100%;
  height: 390px;
  background-color:	#FFFAFA;
  margin-top: 10px;
}

/* suporte_itens  */
.suporte_itens{
  width: 380px;
  height: 44px;
  float: left;
  margin-left: 15px;
}

.imagens{
  width: 100%;
  height: 287px;
  background-color: #c2c2c2;
}

.item_imagem{
  width: 100%;
  height: 287px;
}

.titulo_dicas{
  height: 83px;
  width: 100%;
  margin-top: 5px;
  background-color: #B22222;
  color: #FFF;
}

.titulo_dicas:hover{
  background-color: #660000;
  color: #FFF;
}

.suporte_titulo_dicas{
  height: 53px;
  width: 170px;
  /*background-color: #ff0000;*/
  margin: auto;
  margin-top: 10px;
  font-size: 28px;
  padding-top: 30px;
  padding-left: 30px;
}


/* ----------------------      SLIDER      -----------------*/
#superior{
    width: 1135px;
    height: 620px;
    /* border: solid 1px #000; */
    padding: 20px;
    /* background-color: #333; */
    cursor: pointer;
    /* margin-top: 100px; */
}

#slide{
    width: 750px;
    height: 550px;
    margin-top: 150px;
    /* float: left; */
    background-color: #d1d1d1;
}

#previous{
    /* margin-left: 20px; */
    margin-top: 250px;
    float: left;
    cursor: pointer;
    /* z-index: 999; */
}

#galeria{
    margin-left: 20px;
    width: 1000px;
    /* margin-top: 10px; */
    height: 600px;
    overflow: hidden;
    float: left;
    /* z-index: -1; */
}

/* #galeria img{
    width: 1000px;
    height: 600px;
    z-index: -999;
} */

.image{
  width: 1000px;
  height: 600px;
}

#next{
  width: 30px;
    /* margin-left: 100px; */
    margin-top: 250px;
    float: left;
    cursor: pointer;
    /* z-index: 999; */
}

#galeria ul li{
    list-style: none;
    z-index: -999;
}
