*{
  padding: 0px;
  margin: 0px auto;
}

.main{
    width:100%;
    height:auto;
    position:relative;
    margin:auto;
}

.div_suporte_conteudo{
      width: 100%;
      height: 210px;
}

.suporte_content{
      width: 100%;
      min-height:1200px;
      height:auto;
      position: relative;
      background-color: white;
}

.content{
    width:1200px;
    min-height:900px;
    height:auto;
    margin:auto;
    position: relative;
    padding-top: 20px
    background-color: red;
}

.faixa_titulo_da_pagina{
      width: 100%;
      height: 70px;
      font-family: sans-serif;
      text-align: center;
      line-height: 70px;
      font-weight: bold;
      font-size: 24px;
}

.faixa1{
      width: 96.17%;
      min-height: 200px;
      height: auto;
      font-family: sans-serif;
      text-align: justify;
      padding-left: 23px;
      padding-right: 23px;
}

.faixa2{
      width: 100%;
      height: 300px;
}

.suporte_img_faixa2{
      width: 300px;
      height: 300px;
      float: left;
}

.circulo_img_faixa2{
      width: 280px;
      height: 280px;
      margin-left: 10px;
      margin-top: 10px;
      border-radius: 50%;
      float: left;
      text-align: center;
      line-height: 280px;
      font-family: sans-serif;
      font-weight: bold;
      color: white;
      font-size: 30px;
}

.suporte_txt_faixa2{
      width: 860px;
      height: 260px;
      float: left;
      padding: 20px;
}

.txt_faixa2{
      width: 100%;
      height: 170px;
      margin-top: 60px;
      font-family: sans-serif;
      text-align: justify;
}






.faixa3{
      width: 100%;
      height: 300px;
}

.suporte_img_faixa3{
      width: 300px;
      height: 300px;
      float: left;
}

.circulo_img_faixa3{
      width: 280px;
      height: 280px;
      margin-left: 10px;
      margin-top: 10px;
      border-radius: 50%;
      float: left;
      text-align: center;
      line-height: 280px;
      font-family: sans-serif;
      font-weight: bold;
      color: white;
      font-size: 30px;
}

.suporte_txt_faixa3{
      width: 860px;
      height: 260px;
      float: left;
      padding: 20px;
}

.txt_faixa3{
      width: 100%;
      height: 170px;
      margin-top: 60px;
      font-family: sans-serif;
      text-align: justify;
}







.faixa4{
      width: 100%;
      height: 300px;
}

.suporte_img_faixa4{
      width: 300px;
      height: 300px;
      float: left;
}

.circulo_img_faixa4{
      width: 280px;
      height: 280px;
      margin-left: 10px;
      margin-top: 10px;
      border-radius: 50%;
      float: left;
      text-align: center;
      line-height: 280px;
      font-family: sans-serif;
      font-weight: bold;
      color: white;
      font-size: 30px;
}

.suporte_txt_faixa4{
      width: 860px;
      height: 260px;
      float: left;
      padding: 20px;
}

.txt_faixa4{
      width: 100%;
      height: 170px;
      margin-top: 60px;
      font-family: sans-serif;
      text-align: justify;
}


.footer{
      width: 100%;
      height: 264px;
      margin: auto;
      float: left;
}
