/*

  Data: 24/03/2018
  Desenvolvedor: Gleyver Coutinho Castro
  Obs: Página de estilização da area do paciente

*/

/*--------------------------- Tags padrões --------------------------- */
*{
  margin: 0px;
  padding: 0px;
}

/*--------------------------- Conteúdo da página -------------------------*/
#content{
  min-height: 600px;
  height: auto;
  width: 1200px;
  /*background-color: rgb(176, 37, 39);
  background-color: #F1EFEF;*/
  border-bottom: 3px solid #ccc;
  border-right: 1px solid #ccc;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 12px;
}

/* Div que segura titulo da Página */
#suporte_titulo{
  height: 70px;
  width: 100%;
}

/* Titulo */
#titulo_pagina{
  height: 50px;
  width: 400px;
  margin: auto;
  padding-top: 20px;
  font-size: 32px;
  font-family: verdana;
}

.faixa_branca{
  height: 1px;
  width: 95%;
  background-color: #ccc;
  margin: auto;
}

/*Conteudo do historico*/

#content__pagina{
    width:1200px;
    height: auto;
    min-height: 500px;  
}

#div_data{
  width: 250px;
  height: 30px;
  margin-top: 25px;
  margin-left: 25px;
  text-align: center;
  font-family: verdana;
  font-size: 16px;
}

.linha_registro{
  width: 1100px;
  min-height: 30px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  border-bottom: solid 3px #333;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 18px;
  font-family: verdana;
  text-align: justify;
}