/*CSS*/
*{
  margin: 0px;
  padding: 0px;
}

.main{
    width:100%;
    min-height: 100%;
    height:auto;
    position:absolute;
    margin:0px;
    padding:0px;
}

.content_cms{
    width:100%;
    min-height: 1200px;
    height:auto;
    margin:auto;
    border-radius:10px;
}

/*-------------------CONTEUDO CMS---------------------------*/
.content_home_cms{/*conteudo do cms*/
    width:100%;
    min-height:900px;
    height:auto;
    margin:auto;
    position:relative;
}

/*----------Menu Lateral----------*/
.menu_lateral_cms{/*menu lateral*/
    width:20%;
    height:1000px;
    margin-top:10px;
    float:left;
}

.conteudo_home_cms{/*conteudo home*/
    width:75%;
    min-height:500px;
    overflow: hidden;
    margin-top:20px;
    margin-left:50px;
    border:solid 1px #000000;
    float:left;
}

.linha{
    width:100%;
    min-height: 100px;
    overflow: hidden;
    background-color:#eaecef;
    margin-top:10px;
}

.img_menu_lateral{
    width:10%;
    height:50px;
    margin-left:20px;
    margin-top:10px;
    float: left;
}

.img_menu_lateral img{
    width:100%;
    height:50px;
}

.titulo_menu_lateral{
    width:80%;
    height: auto;
    min-height:30px;
    margin-left:0px;
    margin-top:40px;
    float: left;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color:#000000;
}
